[submodule "components/arduino-DHT"]
	path = components/arduino-DHT
	url = https://github.com/markruys/arduino-DHT.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git

